:root {
  --main-bg-color: #F1F1F1;
  --main-text-color: #370061;
  --second-text-color: #FFFFFF;
  --third-text-color: #545454;
  --fourth-text-color: #545454;
  --bold-text-color: #0E0E0E;
  --second-bg-color: #c1efde;
  --third-bg-color: #F2F2F7;
  --table-sub-name: #8E8E93;
  --table-name: #545454;
  --border-color: #D1D1D1;
  --text-danger:#E52424;
  --span-text-color:#7200CB;

}

h1,
h2,
h3,
p {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: 'Montserrat' !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0px;
  word-wrap: break-word;
}

.body-4 {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

}
.bg-siderbar {
  background-color: var(--main-text-color);
}

.bg-secondary {
  background: var(--third-text-color);
}

.text-secondary {
  color: var(--third-text-color);
}

.text-ternary {
  color: var(--fourth-text-color);
}

.text-semibold {
  color: var(--bold-text-color);
}

.primary-text {
  color: var(--main-text-color);
}

.text-brandcolor {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}
.border-color-primary {
  border-color: var(--main-text-color) ;
}
.border-color {
  border-color: var(--border-color) !important;
}
.text-danger{
  color: var(--text-danger);
}

.border-radius-8-full {
  border-radius: 100%;
}
.bg-opacity{
  background: var(--State-Layers-On-Primary-Container-Opacity-12, #4F378A1F);
}


.p-20 {
  padding: 20px;
}


/* text size */
.font-12 {
  font-size: 12px;
  line-height: 120%;
}
.font-14 {
  font-size: 14px;
  line-height: 150%;
}

.font-16 {
  font-size: 16px;
  line-height: 150%;
}

.font-18 {
  font-size: 18px;
  line-height: 150%;
}
.font-22 {
  font-size: 22px;
  line-height: 150%;
}


/* font weight */
.fw-normal {
  font-weight: 400 ;
}

.fw-medium {
  font-weight: 500 ;
}
.fw-bold {
  font-weight: 600 ;
}


.table-headding-bg {
  background-color: var(--third-bg-color);
}

.table-sub-name {
  color: var(--table-sub-name);
}

.table-name {
  color: var(--table-name);
}

#page-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#wrapper #page-content-wrapper .main-bg-color {
  background-color: var(--main-bg-color);
  height: 100vh;
  flex-grow: 1;
}
.px-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.px-16{
  padding-left: 16px ;
  padding-right: 16px ;
}
.p-12{
  padding: 12px;
}
.p-16 {
  padding: 16px !important;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.px-24 {
  padding-right: 24px;
  padding-left: 24px;
}
.px-18 {
  padding-left: 18px ;
  padding-right: 18px ;
}
.p-32 {
  padding: 32px;
}

.px-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.py-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.px-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.pb-40{
  padding-bottom: 40px;
}

.pb-32{
  padding-bottom: 32px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.border-b{
  border-bottom: 1px solid var(--border-color);
}
.border-r{
  border-right: 1px solid var(--border-color);
}
.border-radius-8 {
  border-radius: 8px;
  overflow: hidden;
}

.border-radius-4 {
  border-style: solid;
  border-width: 1px !important;
  border-radius: 4px !important;
  overflow: hidden;
}
.gap-10 {
  gap: 16px;
}
.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}
.gap-22 {
  gap: 22px;
}
.gap-8 {
  gap: 8px;
}

.gap-32 {
  gap: 32px;
}

.gap-24 {
  gap: 24px;
}

.gap-60 {
  gap: 60px;
}

.gap-40 {
  gap: 40px;
}

.gap-16{
  gap:16px !important ;
}

.btn {
  background-color: var(--main-text-color);
  padding: 14px 28px;
}

.btn-width {
  max-width: 294px;
}

.model-btn-width {
  min-width: 165px;
}

.model-btn {
  background-color: var(--main-text-color);
  padding: 14px 28px;
}

.btn-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item-action:focus {
  color: white;
}

.list-group-item-action:hover {
  background-color: #47146D;
  border-left: 4px solid white;
  color: white;
  transition: none;

}

.profile-dropdown {
  border-left: 1px solid #D1D1D1;
  padding-left: 12px;
}

.profile-dropdown-content {
  padding: 0px !important;
}

.race-radar-img {
  max-width: 480px;
}

.form-group label {
  color: var(--bold-text-color);
}

.modal .form-control {
  padding: 0.55rem 0.76rem;
}
.form-grid .form-control {
  padding: 0.85rem 0.76rem;
}
.form-grid .form-select {
  padding: 0.85rem 0.76rem;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(29%) sepia(0%) saturate(0%) hue-rotate(0deg);
}
table{
  min-width: 1000px;
  min-height: 114px;
}
 .radio-wrapper{
  /* min-width: 1000px;
  min-height: 114px; */
  scroll-behavior: smooth;
  overflow-x: scroll;
}
.redio-container{
 min-width: 82px;
 min-height: 122px;
}
input[type="radio"] {
  min-width: 24px;
  min-height: 24px;
  accent-color: var(--main-text-color); 
}

.page-item.active .page-link {
  background-color: var(--main-text-color);
  border-color: var(--main-text-color);
}
a:hover {
  color: inherit;
}
.page-link:hover {
  color: inherit;
  background: inherit;
}
.form-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 32px;
}

.span-2 {
  grid-column: span 2; 
}
.logbook-table th{
  min-width: 178px;
}
#carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

#carousel-container .d-flex {
  flex-shrink: 0;
  width: 133px; 
}

#carousel-container .d-flex:first-child .card-carousel-bg {
  background-color: var(--main-text-color);
  color: var(--second-text-color);
}

.image {
  cursor: pointer;
}

.card-carousel-bg {
  background-color: #f0f0f0; 
  transition: background-color 0.3s ease; 
}
.card-carousel-bg {
  color: var(--main-text-color);
  background: var(--second-text-color);
  min-width: 136px;
  min-height: 76px;
}
/* .carousal-container{
  min-width: 968px;
  min-height: 64px;
} */
.w-48{
  min-width: 48px ;
}

.h-20 {
  max-height: 20%;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
  .direction{
    flex-direction: column;
  }

  .px-32 {
    padding: 20px;
  }

  .p-32 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .px-24 {
    padding: 24px;
  }

  #wrapper #page-content-wrapper .main-bg-color {
    height: auto;
  }

  .race-radar-img {
    max-width: 280px;
  }
  .flex-grow-sm{
    flex-grow: 1;
  }
  .font-30{
    font-size: 30px;
    line-height: 120%;
  }
  .font-sm-14{
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .form-grid{
    grid-template-columns: repeat(1, 1fr); 
  }
}
@media (min-width: 1024px) {
  .changePasswordContent {
    width: 450px;
  }
  .filter-input{
    width: 300px;
  }
  .h-30 {
    max-height: 80px;
  }
}
@media (min-width: 1024px) {
  .editPasswordContent {
    min-width: 700px;
  }
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  min-width: 150px;
}
.bet-table {
  background: rgba(79, 55, 138, 0.12);
}
.rotate-45 {
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
}


.span-text-color{
  color: var(--span-text-color);

}
.search-input-width{
  min-width: 500px;
}

.check-box{
  width: 20px;
  height: 20px;
}
.width-height{
  width: 93px;
  height: 53px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
   box-shadow:none; 
}

.accordion-button:not(.collapsed) {
  color:black;
  background-color: white;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}
.accordion-item {
  border: none;
}
.accordion-body{
  padding:0px !important;
}